.heroWrapper {
  height: 150px;
  display: flex;
  align-items: center;
}

.filled {
  margin: 0 calc(-100vw + 86.7vw + 40px);
  padding: 32px 0;
}

.heroContent {
  width: 50%;
}

.heroImg {
  position: absolute;
  right: 0%;
  top: -7%;
  object-fit: contain;
}

.letterWrapper {
  color: var(--color-foreground);
  background: var(--color-background);
  position: relative;
}

.ticket {
  display: grid;
  grid-template-columns: 92px 672px;
  justify-content: center;
  overflow: hidden;

  color: var(--color-foreground);
}

.filledContainer {
  max-width: 1248px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.ticketWrapper {
  background: #f6d2ef;
  padding: 36px 0;
}

.ticketLeft {
  padding: 43px 33px;
  background: var(--color-background);
  position: relative;

  border-radius: 20px 0 0 20px;
  border-right: 2px dashed hsl(0, 0%, 79%);

  display: flex;
  align-items: center;
}

.ticketLeft::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background: #f6d2ef;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  translate: 50% -70%;
}

.ticketLeft::after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background: #f6d2ef;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  translate: 50% 70%;
}

.ticketLeftText {
  writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  white-space: nowrap;
  display: block;
  bottom: 0;

  font-weight: 700;
}

.ticketRight {
  background: var(--color-background);
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;

  border-radius: 0 20px 20px 0;
}

.ticketRightContent {
  padding: 50px 16px 50px 52px;
}

.ticketRightMetadata {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticketRightMetadataTitle {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticketRightTitle {
  margin-bottom: 16px;
  font-family: inherit !important;
}

.ticketIssueCards {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
}

.ticketRightCard {
  display: flex;
  align-items: center;
  gap: 14px;
}

.ticketIssueText {
  font-size: 12px;
  margin-top: 4px;
  line-height: 1;
}

.ticketRightCard:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (max-width: 1248px) {
  .filledContainer {
    padding: 0 30px;
  }
}

@media screen and (max-width: 846px) {
  .heroImg {
    display: none;
  }

  .ticketLeft {
    text-align: center;
  }

  .heroContent {
    width: 100%;
  }

  .ticketWrapper {
    height: 840px;
    display: flex;
    align-items: center;
  }

  .ticketWrapper .filledContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ticket {
    width: 720px;
    rotate: 90deg;
    grid-template-columns: 92px 1fr;
  }
}

@media screen and (max-width: 548px) {
  .filledContainer {
    padding: 0 20px;
  }
}
