.wrapper {
  margin-top: 60px;
}

.title {
  margin-bottom: 32px;
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  flex-flow: row wrap;
  gap: 40px;
  width: 75%;
  margin: 0 auto;
}

.darkImg {
  display: none;
  object-fit: contain;
}

.lightImg {
  object-fit: contain;
}

@media (max-width: 768px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (prefers-color-scheme: light) {
  .lightImg {
    display: none;
  }

  .darkImg {
    display: block;
  }
}
