.btn {
  padding: 12px 20px;
  border-radius: var(--dotnet-btn-corner-radius);
  font-weight: 600;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.btn:disabled:hover {
  background-color: var(--color-dotnet-solid-btn-accent-background);
}

.outlined {
  border: 2px solid var(--color-dotnet-outline-btn-accent-foreground);
  color: var(--color-dotnet-link-btn-neutral-foreground);
  background-color: transparent;
}

.outlined:hover {
  color: var(--color-dotnet-outline-btn-accent-foreground-hover);
  background-color: var(--color-dotnet-outline-btn-accent-background-hover);
  cursor: pointer;
}

.filled {
  background: var(--color-dotnet-solid-btn-accent-background);
  border: var(--dotnet-btn-border-width) solid
    var(--color-dotnet-solid-btn-accent-border);
  color: var(--color-dotnet-solid-btn-accent-foreground);
}

.filled:hover {
  cursor: pointer;
  color: var(--color-dotnet-solid-btn-accent-foreground-hover);
  background: var(--color-dotnet-solid-btn-accent-background-hover);
  border-color: var(--color-dotnet-solid-btn-accent-border-hover);
}
