.wrapper {
  --viewport-padding: 12px;
  padding: var(--viewport-padding) 20px;
  background-color: var(--color-form-input-background);
  min-width: 190px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: var(--corner-radius-xs);

  border: 2px solid var(--color-form-input-border);
  box-shadow: 0px 0px 6px 1px var(--color-form-input-border);
}

.wrapper[data-state="open"] {
  animation: slideIn 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

.wrapper[data-state="closed"] {
  animation: hide 100ms ease-in;
}

.wrapper[data-swipe="move"] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}
.wrapper[data-swipe="cancel"] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.wrapper[data-swipe="end"] {
  animation: swipeOut 100ms ease-out;
}

.viewport {
  position: fixed;
  bottom: 24px;
  right: 24px;
  max-width: 100%;
  z-index: 1;
}

.title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-form-input-foreground);
}

@keyframes slideIn {
  from {
    transform: translateY(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateY(0);
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}

@media screen and (max-width: 540px) {
  .viewport {
    left: 24px;
  }
}
