.wrapper {
  padding: 80px 0;
  position: relative;
}

.title {
  margin-bottom: 24px;
}

.subtitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: var(--color-title-font);
}

.content {
  width: 50%;
}

.buttons {
  margin-top: 16px;
  display: flex;
  gap: 12px;
}

.img {
  position: absolute;
  height: 650px;
  left: 30%;
  top: 1%;
  object-fit: contain;
}

@media screen and (max-width: 846px) {
  .img {
    display: none;
  }

  .content {
    width: 100%;
  }
}

@media screen and (max-width: 539px) {
  .wrapper {
    padding: 0;
  }

  .title {
    margin-bottom: 8px;
  }

  .buttons {
    flex-direction: column;
  }
}
