.wrapper {
  max-width: 840px;
  margin: 0 auto;
  background-color: var(--color-neutrals-light-grey-98);
  min-height: 600px;

  border-radius: 12px;

  padding: 24px;
}

.lightLeft {
  position: absolute;
  bottom: -12%;
  left: -22%;
  z-index: -1;
  width: 70vw;
}

.lightRight {
  position: absolute;
  bottom: -12%;
  right: -22%;
  z-index: -1;
  width: 70vw;
}

@media screen and (max-width: 992px) {
  .wrapper {
    border-radius: 6px;
  }

  .lightLeft {
    display: none;
  }

  .lightRight {
    display: none;
  }
}

.ticket {
  margin-top: 32px;
}

.ticketHeader {
  display: flex;
  justify-content: center;
  padding: 6px 0;
  background-color: #e84c3d;
  border-radius: 8px 8px 0 0;
  border-bottom: 3px dashed #fff;

  position: relative;
}

.ticketHeader::before {
  content: "";
  position: absolute;
  left: -0.5em;
  width: 16px;
  height: 16px;
  background-color: var(--color-neutrals-light-grey-98);
  border-radius: 50%;
  display: block;

  bottom: 0;
  translate: 0 60%;
}

.ticketHeader::after {
  content: "";
  position: absolute;
  right: -0.5em;
  width: 16px;
  height: 16px;
  background-color: var(--color-neutrals-light-grey-98);
  border-radius: 50%;
  display: block;

  bottom: 0;
  translate: 0 60%;
}

.ticketBody {
  background-color: #ecedef;

  padding: 24px;
}

.ticketSection {
  margin-bottom: 24px;
}

.ticketSection:last-child {
  margin-bottom: 0;
}

.ticketSectionHeading {
  word-wrap: break-word;
  color: #525252 !important;
}

.ticketSectionDesc {
  margin-bottom: 12px;
  color: #a2aeae;
}
