.wrapper {
  padding: 16px 0;
  margin-bottom: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: var(--color-title-font);

  background: var(--color-primary-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.list {
  display: flex;
  align-items: center;
  gap: 48px;
}

.link {
  color: var(--color-foreground);
  font-weight: 600;
  position: relative;
}

.link:hover::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  height: 6px;
  width: 75%;
  border-radius: 4px;
  background: var(--color-primary-gradient);
}

.burger {
  color: var(--color-brand-purple-tint-30);
  display: none;
}

@media screen and (max-width: 1250px) {
  .burger {
    display: block;
  }

  .nav {
    position: absolute;
    top: 60px;
    right: var(--content-width-padding-tablet);
    width: fit-content;
    min-width: 250px;
    z-index: 1;

    transition: 0.3s;
  }

  .navOpened {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  .navClosed {
    transform: translateY(16px);
    opacity: 0;
    visibility: hidden;
  }

  .list {
    color: var(--color-dotnet-menu-popover-foreground);
    background-color: var(--color-dotnet-menu-popover-background);
    border: solid var(--dotnet-btn-border-width)
      var(--color-dotnet-menu-popover-background);
    border-radius: var(--corner-radius-xs);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.14);
    padding: 4px 6px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
  }

  .item {
    width: 100%;
  }

  .link {
    display: block;
    padding: 8px 10px;
    font-size: 14px;
  }

  .link:hover {
    background-color: var(--color-dotnet-menu-popover-background-hover);
  }

  .link:hover::after {
    display: none;
  }
}

@media screen and (max-width: 539px) {
  .nav {
    width: calc(100% - 40px);
    left: 20px;
  }

  .wrapper {
    margin-bottom: 32px;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(16px);
    opacity: 0;
  }
}

@keyframes hide {
  to {
    opacity: 0;
    pointer-events: none;
  }
}
