.label {
  margin-bottom: 8px;
  display: block;
  font-size: 0.75rem;
  line-height: 1.125rem;

  color: var(--color-foreground);
}

.asterisk {
  color: #e85c41;
  font-size: 150%;
  position: relative;
  top: 5px;
}

.input {
  display: block;
  width: 100%;
  padding: 8px 0;
  text-indent: 2%;

  color: var(--color-form-input-foreground);
  background-color: var(--color-form-input-background);
  border-radius: var(--corner-radius-xs);
  border: 2px solid var(--color-form-input-border);
}

.error {
  color: #e85c41;
  font-size: 0.75rem;
  line-height: 1.125rem;
  margin-top: 4px;
}
