.wrapper {
  margin-top: 96px;
}

.feature {
  display: grid;
  gap: 64px;

  grid-template-columns: 1fr 1fr;
}

.feature:not(:last-child) {
  margin-bottom: 64px;
}

.description {
  color: var(--color-foreground);
}

@media screen and (max-width: 778px) {
  .feature {
    gap: 32px;
  }
}

@media screen and (max-width: 548px) {
  .feature {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
